// 基本背景色/邊框配色
$color-rt-bg: #692121;
$color-menu-bg: #C9B8A3;
$color-note-bg: #f7f6e6;
$color-tab-bg: #ede5d7;
$color-tab-bg-dark: #cac1b1;
$color-note-bottom: #c4ae2e;
$color-menu-border: #827738;
$color-select-border: #ede5d7;
$color-blocktitle-bg: #A05C5C;
$color-defaultMa-bg: #B28A5D;
$color-info-bg: brown;
$color-info-win-bg: #ff7777;
$color-info-loss-bg: #98d7a4;
$color-bg-hot: orangered;
$color-bg-realtime: #230808;
$color-button-bg: orangered;

// 字體與標題色
$color-text-default: #292222;
$color-text-header: #ede5d7;
$color-text-title: #49421b;
$color-text-primary: brown;
$color-text-secondary: #A05C5C;
$color-text-bright: #D97777;
$color-text-light: #b6b08d;
$color-text-mid: #827738;
$color-text-dark: #692121;
$color-text-blocktitle: #F4EDE4;
$color-text-win: #d03939;
$color-text-loss: #1f782f;
$color-text-hot: orangered;
$color-text-button: #f3d8c2;

$max-width-content: 820px;


$rt-block1-color1: #ede5d7;
$rt-block1-color2: #C9B8A3;
$rt-block1-color4: #827738;
$rt-block1-color5: #49421b;

$rt-block2-color1: #F4EDE4;
$rt-block2-color2: brown;
$rt-block2-color3: #A05C5C;
$rt-block2-color4: #D97777;
$rt-block2-color5: #B28A5D;
$rt-block2-color6: #ddb0b0;

$rt-block3-color1: #f7f6e6;
$rt-block3-color2: #c4ae2e;
$rt-block3-color3: #692121;

$rt-info-color1: #ff7777;
$rt-info-color2: #d03939;
$rt-info-color3: #98d7a4;
$rt-info-color4: #1f782f;
$rt-info-color5: orangered;
$rt-info-color6: #96820d;
$rt-info-color7: #B28A5D;

$font-rt-main: "Chiron Hei HK", sans-serif;
$font-rt-title: "Huninn", sans-serif;
$font-rt-number: "Huninn", sans-serif;
$font-rt-money: "Anonymous Pro", monospace;