@charset "UTF-8";

body {
  font-family: "Chiron Hei HK", sans-serif;
}

.font-date {
  font-family: "Huninn", sans-serif;
}

.font-price {
  font-family: "Anonymous Pro", monospace;

  &:before {
    content: "$";
    font-size: 0.5em;
  }
}

.rich-app_header {
  font-size: 2em;
  color: #ede5d7;
  font-family: "Huninn", sans-serif;
  display: block;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
}

.rich-app_menu {
  font-family: "Huninn", sans-serif;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
  background-color: #C9B8A3;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #827738;
}

.rich-app_menu h2 {
  font-size: 1.5em;
  color: #49421b;
  padding: 0 10px;
  display: contents;
}

.rich-app_menu select {
  font-size: 1em;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ede5d7;
  margin-bottom: 20px;
  color: #292222;
}

[class^=date--],
[class*=" date--"] {
  font-family: "Huninn", sans-serif;
}

.date--note {
  font-size: 0.6em;
  color: #A05C5C;
}

.date--summary {
  font-size: 1em;
  color: brown;
}

.date--log {
  font-size: 0.6em;
  color: #A05C5C;
}

.date--inout {
  font-size: 0.8em;
  color: #827738;
}

.date--today {
  color: #827738;
}

.date--today::after {
  content: "💡";
}

.date--stock-invest {
  font-size: 1em;
  color: #827738;
}

.date--stock-result {
  font-size: 0.8em;
  color: #827738;
}

.date--label {
  font-size: 0.8em;
  color: #827738;
}

[class^=price--]::before,
[class*=" price--"]::before {
  content: "$";
  font-size: 0.5em;
}

[class^=price--],
[class*=" price--"] {
  font-family: "Anonymous Pro", monospace;
}

.price--summary {
  font-size: 1.2em;
  color: brown;
  font-weight: 700;
}

.price--inout {
  color: #692121;
  font-size: 1.3em;
}

.price--stock-invest {
  font-size: 2.5em;
  color: brown;
}

.price--result {
  color: #D97777;
  font-size: 1.5em;
}

[class^=pct--],
[class*=" pct--"] {
  font-family: "Anonymous Pro", monospace;
}

[class^=pct--]::after,
[class*=" pct--"]::after {
  content: "%";
  font-size: 0.5em;
}

.pct--result {
  font-size: 0.8em;
}

.pct--invest {
  color: #692121;
  font-size: 1em;
  font-weight: 700;
}

.expectation {
  font-family: "Huninn", sans-serif;
  font-weight: bold;
  color: #f3d8c2;
}


button:hover {
  background-color: #cc3700;
}

.rich-app_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 820px;
  margin: 0 auto;
  gap: 10px;
}

.rich-app_blocks_title {
  grid-column: 1/-1;
  background-color: #A05C5C;
  padding: 10px;
  color: #F4EDE4;
  font-size: 1.5em;
  text-align: center;
  border-radius: 8px 8px 0 0;
  font-family: "Huninn", sans-serif;
}

.rich-app_blocks .blocks_cell {
  flex: 1;
  padding: 20px;
  background-color: #ede5d7;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2px;
  height: -moz-fit-content;
  height: fit-content;
}

.rich-app_blocks .blocks_cell_usa {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22300%22%20height%3D%2216%22%20viewBox%3D%220%200%20300%2016%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20y%3D%220%22%20width%3D%22300%22%20height%3D%224%22%20fill%3D%22%23b22234%22/%3E%3Crect%20y%3D%228%22%20width%3D%22300%22%20height%3D%224%22%20fill%3D%22%23b22234%22/%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2216%22%20fill%3D%22%233c3b6e%22/%3E%3Cpolygon%20points%3D%228%2C5%209%2C8%2012%2C8%209.5%2C10%2010.5%2C13%208%2C11.5%205.5%2C13%206.5%2C10%204%2C8%207%2C8%22%20fill%3D%22%23fff%22/%3E%3Cpolygon%20points%3D%2220%2C5%2021%2C8%2024%2C8%2021.5%2C10%2022.5%2C13%2020%2C11.5%2017.5%2C13%2018.5%2C10%2016%2C8%2019%2C8%22%20fill%3D%22%23fff%22/%3E%3Cpolygon%20points%3D%2232%2C5%2033%2C8%2036%2C8%2033.5%2C10%2034.5%2C13%2032%2C11.5%2029.5%2C13%2030.5%2C10%2028%2C8%2031%2C8%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 300px 16px;
}

.rich-app_blocks .blocks_cell_code {
  color: #D97777;
}

.rich-app_blocks .blocks_cell_financial {
  height: -moz-fit-content;
  height: fit-content;
}

.rich-app_blocks .blocks_cell_animal {
  font-size: 1.2em;
}

.rich-app_blocks .blocks_cell_namespan {
  grid-column: span 2;
  margin-top: 4px;
}

.rich-app_blocks .blocks_cell_namespan span {
  color: #A05C5C;
  font-size: 1.8em;
  font-family: "Huninn", sans-serif;
}

.rich-app_blocks .blocks_cell_defaultMa {
  grid-row: 1/3;
  /* From row 1 to row 2 */
  grid-column: 2/3;
  /* From column 1 to column 3 */
  text-align: center;
  padding-top: 15px;
  background-color: #B28A5D;
  border-radius: 8px;
  align-content: space-around;
  height: -moz-fit-content;
  height: fit-content;
}

.rich-app_blocks .blocks_cell_defaultMa div:first-child {
  font-size: 1.2em;
  color: #F4EDE4;
}

.rich-app_blocks .blocks_cell_defaultMa div:last-child {
  margin-top: 2px;
  font-size: 0.8em;
  color: #F4EDE4;
  padding: 4px 0;
  background-color: brown;
  border-radius: 0 0 8px 8px;
}

.rich-app_blocks .blocks_cell_tigerMa {
  font-size: 0.8em;
  color: brown;
}

.rich-app_blocks .blocks_cell_realtime {
  grid-column: span 2;
  color: #827738;
  font-size: 0.9em;
  padding-left: 15px;
  border-left: 3px solid #692121;
}

.rich-app_blocks .blocks_cell_realtime .price--realtime {
  margin-right: 5px;
}

.rich-app_blocks .blocks_cell_realtime .date--realtime {
  color: #A05C5C;
}

.rich-app_blocks .blocks_cell_invest {
  grid-column: span 2;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  -webkit-mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 10px, #000 0), radial-gradient(10px, #000 calc(100% - 1px), rgba(0, 0, 0, 0)) top/18.5px 20px;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 10px, #000 0), radial-gradient(10px, #000 calc(100% - 1px), rgba(0, 0, 0, 0)) top/18.5px 20px;
  color: #827738;
}

.rich-app_blocks .blocks_cell_invest_result {
  display: block;
  font-size: 0.8em;
  color: #A05C5C;
  margin-top: 7px;
}

.blockMsg:has(.trades_popup) {
  border-radius: 29px;
  overflow: hidden;
}

.trades_popup {
  display: grid;
  grid-template-rows: 90% auto;
  overflow: hidden;
  height: 100%;
}

.trades_popup>div {
  overflow: auto;
}

.trades_popup>div>div {
  display: grid;
  grid-template-columns: 150px 200px auto;
  border-bottom: 1px solid #cac1b1;
  gap: 10px;
}

.trades_popup>div>div>div {
  align-content: center;
  text-align: left;
}

.trades_popup>div>div>div:first-child {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.trades_popup>div>div>div:nth-child(2) {
  background-color: #ede5d7;
  border-radius: 17px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
}

.trades_popup>div>div>div:last-child {
  text-align: right;
  margin-right: 15px;
  line-height: 2em;
}

.trades_popup>div:last-child {
  border-bottom: none;
  background-color: #cac1b1;
  text-align: right;
  padding-right: 20px;
  align-content: center;
}

.trades_popup .price--in {
  color: #A05C5C;
  font-size: 1.2em;
}

.trades_popup .price--in::before {
  content: "💰 ";
}

.trades_popup .price--out {
  color: #A05C5C;
  font-size: 1.2em;
}

.trades_popup .price--out::before {
  content: "🔚 ";
}

.trades_popup .price--tax {
  font-size: 0.8em;
  display: block;
  color: #827738;
}

.trades_popup .price--tax::before {
  content: "稅費 $";
}

.trades_popup .price--netProfit {
  font-size: 1.5em;
  color: #A05C5C;
}

.trades_popup .price--netProfit.positive {
  color: #d03939;
}

.trades_popup .price--netProfit.negative {
  color: #1f782f;
}

.trades_popup .pct--netProfitRate {
  font-size: 0.8em;
  margin-right: 10px;
}

.trades_popup .pct--netProfitRate.positive {
  color: #d03939;
}

.trades_popup .pct--netProfitRate.negative {
  color: #1f782f;
}

.trades_popup .pct--netProfitRate::before {
  content: "損益 ";
}

.trades_popup .date--popup {
  font-size: 0.8em;
  color: #827738;
}

.trades_popup .date--popup::before {
  content: "(";
}

.trades_popup .date--popup::after {
  content: ")";
}

.trades_popup .trade-code {
  font-size: 0.8em;
  color: #827738;
}

.trades_popup .trade-name {
  font-size: 1.5em;
  color: #A05C5C;
  font-weight: bold;
}

.notes_block {
  display: block;
  max-width: 820px;
  margin: 10px auto;
  background-color: #f7f6e6;
  padding: 20px 0;
  font-size: 0.9em;
}

.notes_block div {
  border-right: #692121 3px solid;
  border-left: #692121 3px solid;
  border-bottom: #c4ae2e 1px dashed;
  padding: 5px 10px;
  margin: 0 10px;
}

.rt-badge {
  border-radius: 20px;
  font-size: 0.5em;
  background-color: #692121;
  padding: 3px 10px;
  color: #ede5d7;
  margin-top: 3px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  float: right;
}

.rt-badge.hot {
  background-color: orangered;
}

.info-banner {
  grid-column: span 2;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
}

.info-banner--win {
  background: linear-gradient(to right, #ff7777, white 30%);
}

.info-banner--win .pct--result {
  color: #d03939;
}

.info-banner--loss {
  background: linear-gradient(to right, #98d7a4, white 30%);
}

.info-banner--loss .pct--result {
  color: #1f782f;
}

.info-banner--up {
  background-color: rgba(255, 119, 119, 0.1);
  border: 1px dashed #ff7777;
}

.info-banner--down {
  background-color: rgba(152, 215, 164, 0.1);
  border: 1px dashed #98d7a4;
}

.stock_title {
  display: flex;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.stock_title h2 {
  color: white;
  font-family: "Huninn", sans-serif;
  font-size: 1.8em;
  white-space: nowrap;
}

.stock_title button {
  align-self: center;
}

.stock_title_realtime {
  color: #D97777;
  font-size: 0.8em;
  margin-left: 10px;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #230808;
  border-radius: 5px;
  padding: 5px 10px;
}

.stock_invest {
  background-color: white;
  border-radius: 8px;
  -webkit-mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 10px, #000 0), radial-gradient(10px, #000 calc(100% - 1px), rgba(0, 0, 0, 0)) top/18.5px 20px;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 10px, #000 0), radial-gradient(10px, #000 calc(100% - 1px), rgba(0, 0, 0, 0)) top/18.5px 20px;
  margin: 0 auto;
  max-width: 820px;
}

.stock_invest>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
}

.stock_invest-info {
  grid-column: span 2;
  display: grid;
  border-right: 2px solid #692121;
}

.stock_invest-detail {
  grid-column: span 2;
  color: #827738;
  padding: 20px;
  line-height: 1.5em;
}

.stock_invest-profit {
  color: #A05C5C;
  font-size: 1.2em;
  margin-top: 10px;
}

.stock_invest-auto {
  grid-column: span 2;
}

.stock_invest-auto .price--investup {
  color: #d03939;
}

.stock_invest-auto .price--investdown {
  color: #1f782f;
}

.stock_result {
  grid-column: 1/-1;
  color: #827738;
  --corner: 20px;
  border: var(--corner) solid;
  background-color: transparent !important;
  border-image-source: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="white"><path d="M3 0C3.55228 0 4 0.447715 4 1C4.55228 1 5 1.44772 5 2V3C5 3.55228 4.55228 4 4 4C4 4.55228 3.55228 5 3 5H2C1.44772 5 1 4.55228 1 4C0.447715 4 0 3.55228 0 3V2C0 1.44772 0.447715 1 1 1C1 0.447715 1.44772 0 2 0H3Z"/></svg>');
  border-image-slice: 2 fill;
  margin: 10px auto 0;
  max-width: 820px;
}

.stock_result>div {
  padding: 5px 0;
  font-size: 0.8em;
}

.stock_trades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 800px;
  margin: 20px auto 0 auto;
  background-color: #ede5d7;
  border-radius: 8px 8px 0 0;
}

.stock_trades input[type=radio] {
  position: absolute;
  left: -200vw;
}

.stock_trades label {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.stock_trades label .ma--label {
  font-size: 1.2em;
  color: #D97777;
  margin-bottom: 3px;
}

.stock_trades label .ma--label::before {
  content: "MA:";
  color: #b6b08d;
  font-size: 0.8em;
}

.stock_trades label .date--label {
  margin-bottom: 3px;
}

.stock_trades label .date--label::before {
  content: "(";
}

.stock_trades label .date--label::after {
  content: ")";
}

.stock_trades label .rate {
  color: #F4EDE4;
  background-color: #D97777;
  padding: 2px 5px;
  font-size: 0.6em;
}

.stock_trades-price {
  font-size: 1.5em;
  color: #692121;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 3px;
}

.stock_trades-info {
  display: grid;
  gap: 2px;
  margin: 5px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.stock_trades-info div {
  background-color: #C9B8A3;
  border-radius: 4px;
  padding: 10px 4px;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #49421b;
  text-align: right;
  align-content: center;
}

.stock_trades-info div span {
  color: #D97777;
  font-size: 1.5em;
}

.stock_trades-info div a {
  color: #49421b;
}

.stock_trades-info .pct--reentryProfit {
  font-size: 0.7em;
}

.stock_trades-info .pct--reentryProfit::before {
  content: "(";
}

.stock_trades-info .pct--reentryProfit::after {
  content: "%)";
}

.stock_trades [id^=trade] {
  grid-column: 1/-1;
  grid-row: 3;
  display: none;
}

.stock_trades [id^=info] {
  grid-column: 1/-1;
  grid-row: 2;
  display: none;
}

.stock_trades [id^=tab]:checked~[id^=label] {
  background-color: #ede5d7;
  border-radius: 8px 8px 0 0;
  border: 2px solid #827738;
  border-bottom: 0;
}

.stock_trades [id^=tab]:not(:checked)~[id^=label] {
  background-color: #cac1b1;
  border-radius: 8px 8px 0 0;
  border: 2px solid #827738;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.stock_trades [id^=tab]:checked~[id^=trade] {
  display: block;
}

.stock_trades [id^=tab]:checked~[id^=info] {
  display: grid;
}

.stock_trades_row {
  display: grid;
  grid-template-columns: 1fr 120px 120px 1fr;
  margin: 10px 20px 0 20px;
  border-bottom: 1px dashed #827738;
  padding: 10px 0;
}

.stock_trades_row .date--dates {
  color: #827738;
}

.stock_trades_row .date--dates span:nth-child(1) {
  font-size: 0.5em;
}

.stock_trades_row .date--dates span:nth-child(1):before {
  content: "(";
}

.stock_trades_row .date--dates span:nth-child(1):after {
  content: " 天)";
}

.stock_trades_row .date--dates .info-banner {
  margin-right: 10px;
}

.stock_trades_row .profit {
  padding: 0 10px;
  border-right: 1px solid #827738;
  text-align: right;
}

.stock_trades_row .profit .price--profit {
  font-size: 1.5em;
  color: #692121;
  white-space: nowrap;
  text-align: right;
}

.stock_trades_row .profit .price--profit span::before {
  content: "$";
  font-size: 0.5em;
}

.stock_trades_row .profit .pct--profit {
  color: #F4EDE4;
  background-color: #D97777;
  padding: 2px 5px;
}

.stock_trades_row .reason {
  padding: 20px;
  font-size: 0.9em;
  line-height: 1.8em;
  color: #827738;
}

.stock_trades_row .reason span {
  display: block;
  margin-bottom: 5px;
}

.stock_trades_row .investstock {
  grid-column: span 4;
  background-color: white;
  padding: 10px;
  color: #A05C5C;
}

ng-container {
  display: contents;
}

.rich-stock-chart a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */