<div class="mockup-code w-[85%] mx-auto max-w-6xl mt-6 mb-6 bg-success text-success-content">
  <div class="flex ml-10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-4 text-white">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="m9 13.5 3 3m0 0 3-3m-3 3v-6m1.06-4.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
    </svg>
    <span class="ml-2">入場策略：</span>
    <span class="text-secondary" ng-bind="entryStrategy.name"></span>
    <span class="text-accent" ng-if="entryStrategy.reentry">（返場）</span>
  </div>
  <div class="flex ml-10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-4 text-white">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
    </svg>
    <span class="ml-2">出場策略：</span>
    <span ng-bind="exitStrategy.name"></span>
    <span class="text-secondary" ng-if="exitStrategy.reentry">（返場）</span>
    <span class="text-secondary" ng-if="exitStrategy.dynamicStop">＋動態止損 <span ng-bind="exitStrategy.stopLossPct" class="text-error"></span>％</span>
    <span class="text-secondary" ng-if="exitStrategy.dynamicStop">止盈 <span ng-bind="exitStrategy.takeProfitPct" class="text-error"></span>％</span>
  </div>
</div>
<div class="stats cursor-pointer flex w-[85%] mx-auto max-w-6xl" ng-click="showTrades()">
  <div class="stat">
    <div class="stat-title">角色</div>
    <div class="stat-value">Master</div>
    <div class="stat-value">實際</div>
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg fill="currentColor" class="icon-gold size-[3em] ">
        <use xlink:href="css/symbol-defs.svg#icon-gold"></use>
      </svg>
    </div>
    <div class="stat-title">總資金</div>
    <div class="stat-value"><span class="font-price" ng-bind="invested.totalCapital | number"></span></div>
    <div class="stat-value"><span class="font-price" ng-bind="invested.totalCapital | number"></span></div>
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg fill="currentColor" class="icon-salary size-[3em]">
        <use xlink:href="css/symbol-defs.svg#icon-salary"></use>
      </svg>
    </div>
    <div class="stat-title">目前投資</div>
    <div class="stat-value"><span class="font-price" ng-bind="shadowed.cost | number"></span></div>
    <div class="stat-value"><span class="font-price" ng-bind="invested.cost | number"></span></div>
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg fill="currentColor" class="icon-wallet size-[3em]">
        <use xlink:href="css/symbol-defs.svg#icon-wallet"></use>
      </svg>
    </div>
    <div class="stat-title">剩餘資金</div>
    <div class="stat-value"><span class="font-price" ng-bind="(invested.totalCapital - shadowed.cost) | number"></span>
    </div>
    <div class="stat-value"><span class="font-price" ng-bind="(invested.totalCapital - invested.cost) | number"></span>
    </div>
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg fill="currentColor" class="icon-wallet size-[3em]">
        <use xlink:href="css/symbol-defs.svg#icon-wallet"></use>
      </svg>
    </div>
    <div class="stat-title">績效</div>
    <div class="stat-value">
      <span class="font-price" ng-bind="shadowed.profit.scale() | number"></span>
      <span ng-bind="shadowed.profitRate.scale(4) | pct"></span>％
    </div>
    <div class="stat-value">
      <span class="font-price" ng-bind="invested.profit.scale() | number"></span>
      <span ng-bind="invested.profitRate.scale(4) | pct"></span>％
    </div>
    <div class="stat-desc">偏差值 <span ng-bind="invested.diffRate.scale(4) | pct"></span>％</div>
  </div>
</div>

<div class="list w-[85%] mx-auto max-w-6xl">
  <div class="self-end">
    <button class="btn btn-primary" ng-click="note.edit()"><svg fill="currentColor" class="icon-addnote size-[1.5em]">
        <use xlink:href="css/symbol-defs.svg#icon-addnote"></use>
      </svg></button>
  </div>
  <div class="list-row cursor-pointer hover:bg-base-100" ng-repeat="note in notes" ng-click="edit(note)">
    <span ng-bind="note.date | date:'MM/dd'" class="font-date text-xl text-accent"></span>
    <span ng-bind="note.title" class=""></span>
  </div>
  <div class="list-row hover:bg-base-100" ng-repeat="log in logs">
    <span ng-bind="log.date | date:'MM/dd'" class="font-date text-xl text-info"></span>
    <span ng-bind="log.msg"></span>
  </div>
</div>

<div class="tabs tabs-lift w-full">
  <label ng-repeat-start="(title, stocks) in blocks" ng-if="stocks.length" ng-if="stocks.length" class="tab">
    <input type="radio" class="tab" name="stock_tabs" ng-checked="$index === 0" />
    <span class="font-bold text-lg" ng-bind="title"></span>
  </label>

  <div class="tab-content bg-base-100 border-base-300 rounded-[0]" ng-repeat-end>
    <div class="grid grid-cols-3 gap-4 p-10 max-w-7xl mx-auto">
      <div class="cursor-pointer shadow-sm grid grid-cols-2 gap-2 p-2 rounded-2xl h-fit" ng-if="stocks.length"
        ng-repeat="stock in stocks" ng-class="{'stock_usa': stock.country == 'us'}">

        <div class="flex flex-row items-end flex-wrap gap-2">
          <span class="w-fit"><input type="checkbox" ng-model="stock.checked" ng-change="checked(stock)"
              class="checkbox checkbox-primary" /></span>
          <span class="text-success text-lg h-fit pt-2" ng-bind="stock.code"></span>

          <span class="h-fit" ng-if="stock.otc">🌱</span>
          <span ng-if="stock.financial" ng-mouseover="financial(stock, $event)" class="col-span-2 text-2xl w-full">
            <span ng-bind="stock.financial.bullscore"></span>
            <!-- <span class="locks_cell_ranking" ng-bind="stock.financial['排名']"></span> -->
          </span>
        </div>

        <div class="bg-success card text-center" ng-click="changeTo(stock.code)">
          <div class="text-2xl grid pt-2">
            <span class="before:content-['MA'] text-base-100" ng-bind="stock.defaultMa"></span>
            <span ng-if="stock.tigerMa" class="text-lg row-start-2 text-base-200">
              <span ng-bind="stock.tigerMa"></span>
            </span>
          </div>
          <figure class="bg-neutral mt-auto text-base-100 pt-1 pd-1">
            <span ng-bind="stock.expectation" title="期望值"></span><span ng-if="stock.expectation > 1"><svg
                fill="currentColor" class="icon-thumbs-up size-[1em] text-base-300">
                <use xlink:href="css/symbol-defs.svg#icon-thumbs-up"></use>
              </svg></span>
            <span class="font-pct ml-1" ng-bind="stock.winRate | pct" title="勝率"></span><span
              ng-if="stock.winRate < 0.4"><svg fill="currentColor" class="icon-thumbs-down size-[1em] text-base-300">
                <use xlink:href="css/symbol-defs.svg#icon-thumbs-down"></use>
              </svg></span><span ng-if="stock.winRate > 0.4"><svg fill="currentColor"
                class="icon-thumbs-up size-[1em] text-base-300">
                <use xlink:href="css/symbol-defs.svg#icon-thumbs-up"></use>
              </svg></span>
            <span class="font-pct ml-1" ng-bind="stock.profitRate | pct" title="獲利率"></span><span
              ng-if="stock.profitRate < 0"><svg fill="currentColor" class="icon-arrow-down size-[1em] text-base-300">
                <use xlink:href="css/symbol-defs.svg#icon-arrow-down"></use>
              </svg></span><span ng-if="stock.profitRate > 0"><svg fill="currentColor"
                class="icon-arrow-up size-[1em] text-base-300">
                <use xlink:href="css/symbol-defs.svg#icon-arrow-up"></use>
              </svg></span>
          </figure>
        </div>

        <div class="col-span-2 text-3xl font-bold text-primary font-title" ng-click="changeTo(stock.code)">
          <span ng-bind="stock.name"></span>
        </div>

        <span class="col-span-2 border-l-4 border-accent flex items-center" ng-if="stock.realtime">
          <span class="font-price text-xl mr-2 ml-3 text-accent" ng-bind="stock.realtime.close.scale(2)"></span>
          <span class="font-pct" ng-bind="stock.realtime.diffRate | pct"></span>
          <svg fill="currentColor" class="icon-clock size-[1em] ml-3 mr-1">
            <use xlink:href="css/symbol-defs.svg#icon-clock"></use>
          </svg>
          <span class="font-date" ng-if="stock.realtime.isToday" ng-bind="stock.realtime.date | date:'H:mm'"></span>
          <span class="font-date" ng-if="!stock.realtime.isToday" ng-bind="stock.realtime.date | date:'M/d'"></span>
        </span>

        <span ng-if="!stock.trade.invest"
          class="badge bg-[linear-gradient(to_right,_theme(colors.rich-red),_theme(colors.base-100)_30%)] col-span-2 w-full justify-start p-5"
          title="入場">
          <svg fill="currentColor" class="icon-add-cart size-[1.3em] ml-3 mr-1">
            <use xlink:href="css/symbol-defs.svg#icon-add-cart"></use>
          </svg> <span class="font-price text-xl text-primary" ng-bind="stock.trade.entryPrice.scale(2)"></span>

          <span ng-class="{'date--today': stock.trade.entryDate.isToday()}" class="font-date"
            ng-bind="stock.trade.entryDate | date:'MM/dd'"></span>
          <span class="font-pct font-bold" ng-if="stock.realtime.profitRate"
            ng-bind="stock.realtime.profitRate | pct"></span>
          <span class="badge badge-secondary ml-auto" ng-if="stock.trade.reentry">返場</span>
          <span class="badge badge-secondary ml-auto" ng-if="stock.trade.breakout">二日</span>
        </span>

        <span ng-if="stock.trade.exitDate" class="badge col-span-2 w-full justify-start p-5"
          ng-class="{'blocks_cell_hot': stock.trade.rsiHot, 'bg-[linear-gradient(to_right,_theme(colors.rich-green),_theme(colors.base-100)_30%)]': stock.trade.profit < 0, 'bg-[linear-gradient(to_right,_theme(colors.rich-red),_theme(colors.base-100)_30%)]': stock.trade.profit > 0}"
          title="出場">
          <span ng-if="stock.trade.profit < 0"><svg fill="currentColor" class="icon-crying size-[1.3em] ml-3 mr-1">
              <use xlink:href="css/symbol-defs.svg#icon-crying"></use>
            </svg></span><span ng-if="stock.trade.profit > 0"><svg fill="currentColor"
              class="icon-grin size-[1.3em] ml-3 mr-1">
              <use xlink:href="css/symbol-defs.svg#icon-grin"></use>
            </svg></span>
          <span class="font-price text-xl text-primary" ng-bind="stock.trade.exitPrice.scale(2)"></span>
          <span ng-class="{'date--today': stock.trade.exitDate.isToday()}" class="font-date"
            ng-bind="stock.trade.exitDate | date:'MM/dd'"></span>
          <span class="font-pct font-bold" ng-bind="stock.trade.profitRate | pct"></span>
          <span class="badge badge-primary ml-auto" ng-if="stock.trade.rsiHot">過熱</span>
        </span>
        <span ng-if="stock.trade.invest"
          class="rounded-box bg-primary/50 col-span-2 w-full justify-start overflow-hidden"
          ng-class="{'bg-primary': stock.trade.invest.rsiHot}">
          <span ng-class="{'bg-secondary': !log.id}" ng-if="log.act" ng-repeat="log in stock.trade.invest.logs"
            ng-click="invest.edit(log)" class="grid grid-cols-[50px_auto_auto] gap-2 p-3 items-center">
            <span class="font-date opacity-30" ng-bind="(log.date || log.day.date) | date:'MM/dd'"></span>
            <span class="font-price text-base-100 text-2xl" ng-bind="(log.price || log.day.close).scale(2)"></span>
            <span class="text-right"><span ng-bind="log.act"></span>
              <span class="italic underline text-lg" ng-bind="log.amount"></span> 股
            </span>
            <span class="row-start-2 col-start-2 col-span-2 border-t border-base-200 text-right"
              ng-if="log.profit != 0">
              <span ng-if="log.invested > 0">目前</span>損益
              <span class="text-xl badge"><span class="font-price" ng-bind="log.profit.scale(2)"></span>
                <span class="font-pct text-sm font-bold pl-2" ng-bind="log.profitRate"></span>
              </span>
              <span class="badge badge-primary ml-auto" ng-if="stock.trade.invest.rsiHot">過熱</span>
            </span>
          </span>
        </span>
        <!-- 大師投資參考 -->
        <span ng-if="stock.shadow.invest"
          class="rounded-box bg-primary/50 col-span-2 w-full justify-start overflow-hidden"
          ng-class="{'bg-primary': stock.shadow.invest.rsiHot}">
          <span ng-class="{'bg-secondary': !log.id}" ng-if="log.act" ng-repeat="log in stock.shadow.invest.logs"
            ng-click="invest.edit(log)" class="grid grid-cols-[50px_auto_auto] gap-2 p-3 items-center">
            <span class="font-date opacity-30" ng-bind="(log.date || log.day.date) | date:'MM/dd'"></span>
            <span class="font-price text-base-100 text-2xl" ng-bind="(log.price || log.day.close).scale(2)"></span>
            <span class="text-right"><span ng-bind="log.act"></span>
              <span class="italic underline text-lg" ng-bind="log.amount"></span> 股
            </span>
            <span class="row-start-2 col-start-2 col-span-2 border-t border-base-200 text-right"
              ng-if="log.profit != 0">
              <span ng-if="log.invested > 0">目前</span>損益
              <span class="text-xl badge"><span class="font-price" ng-bind="log.profit.scale(2)"></span>
                <span class="font-pct text-sm font-bold pl-2" ng-bind="log.profitRate"></span>
              </span>
              <span class="badge badge-primary ml-auto" ng-if="stock.shadow.invest.rsiHot">過熱</span>
            </span>
          </span>
        </span>

        <span ng-if="stock.alerts" class="badge col-span-2 w-full justify-start p-5 border border-dashed"
          ng-class="{'border-rich-red bg-rich-red/10': stock.alerts.close >= stock.alerts.ma, 'border-rich-green bg-rich-green/10': stock.alerts.close < stock.alerts.ma}">
          <span ng-if="stock.alerts.close >= stock.alerts.ma"><svg fill="currentColor"
              class="icon-grin size-[1.3em] ml-3 mr-1">
              <use xlink:href="css/symbol-defs.svg#icon-grin"></use>
            </svg></span>
          <span ng-if="stock.alerts.close < stock.alerts.ma"><svg fill="currentColor"
              class="icon-crying size-[1.3em] ml-3 mr-1">
              <use xlink:href="css/symbol-defs.svg#icon-crying"></use>
            </svg></span>
          <span class="font-price text-xl " ng-bind="stock.alerts.close.scale(2)"></span>
          <span ng-class="{'font-date': stock.alerts.date.isToday()}" class="font-date"
            ng-bind="stock.alerts.date | date:'MM/dd'"></span>
          <span class="badge badge-primary ml-auto" ng-if="stock.alerts.close >= stock.alerts.ma">漲破</span>
          <span class="badge badge-primary ml-auto" ng-if="stock.alerts.close < stock.alerts.ma">跌破</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="trades-block" class="rounded-2xl grid grid-rows-[90%_auto] h-full" style="display: none">
  <div class="cursor-pointer overflow-y-scroll bg-base-100">
    <div ng-repeat="trade in trades" ng-if="trade.entryDate" ng-click="changeTo(trade.code)"
      class="grid grid-cols-3 gap-4 p-4 border-b border-base-200">
      <div class="text-left list">
        <span class="text-sm text-success" ng-bind="trade.code"></span>
        <span class="text-3xl text-primary" ng-bind="trade.name"></span>
      </div>
      <div class="bg-success grid grid-cols-2 rounded-2xl p-2 w-fit items-center text-right">
        <span class="font-price text-2xl text-base-100" ng-bind="trade.entryPrice | number"></span>
        <span ng-bind="trade.entryDate | date:'MM/dd'" class="font-date text-secondary"></span>
        <ng-container ng-if="trade.exitDate">
          <span class="font-price text-2xl text-base-100" ng-bind="trade.exitPrice | number"></span>
          <span ng-bind="trade.exitDate | date:'MM/dd'" class="font-date text-secondary"></span>
        </ng-container>
      </div>
      <div class="text-right list">

        <span class="text-sm text-rich-green">
          稅費 <span class="font-price " ng-bind="trade.tax | number"></span>
        </span>
        <span class="flex self-end">
          <svg fill="currentColor" ng-if="trade.netProfit < 0" class="icon-crying size-[2em] text-base-content">
            <use xlink:href="css/symbol-defs.svg#icon-crying"></use>
          </svg>
          <svg fill="currentColor" ng-if="trade.netProfit > 0" class="icon-grin size-[2em] text-base-content">
            <use xlink:href="css/symbol-defs.svg#icon-grin"></use>
          </svg>
          <span class="font-price text-2xl ml-2"
            ng-class="{'text-rich-red': trade.netProfit > 0, 'text-rich-green': trade.netProfit < 0}"
            ng-bind="trade.netProfit | number"></span>
        </span>

        <span class="font-pct font-bold"
          ng-class="{'text-rich-red': trade.netProfitRate > 0, 'text-rich-green': trade.netProfitRate < 0}"
          ng-bind="trade.netProfitRate | pct"></span>
      </div>
    </div>
    <div ng-repeat="trade in trades" ng-if="!trade.entryDate" ng-click="changeTo(trade.code)"
      class="grid grid-cols-3 gap-4 p-4 border-b border-base-200">
      <div class="text-left list">
        <span class="text-sm text-success" ng-bind="trade.code"></span>
        <span class="text-3xl text-primary" ng-bind="trade.name"></span>
      </div>
      <div class="rounded-2xl p-2 bg-secondary text-left w-fit">
        <span class="font-price text-2xl text-base-100 after:content-['每股']" ng-bind="trade.price | number"></span>
        <span ng-bind="trade.date | date:'MM/dd'" class="font-date text-secondary-content"></span>
      </div>
      <div class="text-right">
        <span class="text-base-content after:content-['股']" ng-bind="trade.amount"></span>
        <span class="font-price text-2xl ml-2 text-rich-red" ng-class="positive"
          ng-bind="trade.payment | number"></span>
      </div>
    </div>
  </div>
  <div class="bg-success text-right flex items-center justify-end p-4">

    <svg fill="currentColor" ng-if="trades.netProfit < 0" class="icon-crying size-[2em] text-base-content">
      <use xlink:href="css/symbol-defs.svg#icon-crying"></use>
    </svg>
    <svg fill="currentColor" ng-if="trades.netProfit > 0" class="icon-grin size-[2em] text-base-content">
      <use xlink:href="css/symbol-defs.svg#icon-grin"></use>
    </svg>

    <span class="ml-3 font-pct" ng-bind="trades.netProfitRate | pct"></span>
    <span class="font-price text-2xl badge ml-3 pt-4 pb-4" ng-bind="trades.netProfit | number"></span>
    <span class="ml-3" ng-if="trades.totalDividend">
      股利：
      <span class="font-price badge" ng-if="trades.totalDividend" ng-class="positive"
        ng-bind="trades.totalDividend | number"></span>
    </span>
  </div>
</div>