<div class="mb-6 w-[85%] mx-auto max-w-6xl pb-2">
  <details class="collapse collapse-arrow" open>
    <summary class="collapse-title font-semibold">
      <div class="flex gap-4 mt-4 text-xl text-success mb-4">
        <svg fill="currentColor" class="icon-salary size-[1.5em]">
          <use xlink:href="#icon-salary"></use>
        </svg>
        <label class="input">
          <span class="label">投入資金 $</span><input type="number" ng-model="money" />
        </label>
      </div>
    </summary>
    <div class="border-t-base-content/5 flex border-t border-dashed py-2 p-2">
      <label class="input">
        <span class="label">入場日期</span><input type="date" ng-model="params.entryDate" class="input" />
      </label>
      <label class="input ml-6">
        <span class="label">出場日期</span><input type="date" ng-model="params.exitDate" class="input" />
      </label>
    </div>
    <div class="border-t-base-content/5 flex items-center border-t border-dashed py-2 p-2">
      <span class="text-lg font-bold text-nowrap mr-4">入場策略</span>
      <div class="flex gap-2 flex-wrap">
        <label ng-repeat="strategy in entryStrategies" class="text-nowrap">
          <input type="radio" name="entryStrategy" ng-model="params.entryStrategy" ng-change="entryStrategyCheck()" value="{{strategy.key}}"
            class="radio" />
          <span ng-bind="strategy.name"></span>
        </label>
      </div>
    </div>
    <div class="border-t-base-content/5 flex items-center border-t border-dashed py-2 p-2">
      <span class="text-lg font-bold text-nowrap mr-4">出場策略</span>
      <div class="flex gap-2 flex-wrap">
        <span ng-repeat="strategy in exitStrategies" class="text-nowrap">
          <input type="checkbox" ng-model="strategy.checked" ng-change="exitStrategyCheck()" class="checkbox" />
          <label ng-bind="strategy.name"></label>
        </span>
      </div>
    </div>
    <div class="collapse-content text-sm">
      <div class="border-t-base-content/5 flex items-center border-t border-dashed py-2 p-2">
        <div class="flex gap-2" ng-if="tigerChecked">
          <input type="checkbox" ng-model="params.breakout" class="checkbox" />二日法則
        </div>
        <div class="flex gap-2" ng-if="tigerChecked">
          <input type="checkbox" ng-model="params.reentry" class="checkbox" />重新入場
        </div>
        <div class="ml-4" ng-if="dynamicExitChecked">
          止損百分比（<span ng-bind="stopLossPct"></span>）：
          <input type="number" ng-model="params.stopLossPct" step="0.01" />
          止盈百分比（<span ng-bind="takeProfitPct"></span>）：
          <input type="number" ng-model="params.takeProfitPct" step="0.01" />
          <!--
          動態止損百分比（<span ng-bind="dynamicStopPct"></span>）：
          <input type="number" ng-model="params.dynamicStopPct" step="0.01" />
          -->
        </div>
      </div>
    </div>    
    <div class="border-t-base-content/5 flex items-center border-t border-dashed py-2 p-2">
    </div>
  </details>
  <button class="btn btn-primary btn-lg" ng-click="start()">
    <svg fill="currentColor" class="icon-spinner9 size-[1em]">
      <use xlink:href="css/symbol-defs.svg#icon-spinner9"></use>
    </svg> 開始投資模擬</button>
  <div class="text-2xl font-bold text-primary mt-6">股票清單</div>
  <div class="stats shadow">
    <div ng-repeat="stock in testers" class="stat">
      <div class="stat-title">{{stock.code}}</div>
      <div class="stat-value">{{stock.name}}</div>
      <div class="stat-desc">$200000</div>
      <div class="stat-desc"><input type="checkbox" ng-model="stock.checked" ng-click="stock.checked = !stock.checked" class="toggle" /></div>
    </div>
  </div>
</div>
<div ng-if="simulated" class="stock_trades w-[85%] mx-auto max-w-6xl mt-6 bg-success rounded-t-lg">
  <div class="stat bg-base-100 rounded-tl-lg">模擬日期區間
    <ul class="steps steps-vertical">
      <li class="step step-primary">
        <span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
          </svg></span>
        <span ng-bind="simulated.summary.entryDate | dt"></span>
      </li>
      <li class="step step-primary">
        <span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
          </svg></span>
        <span ng-bind="simulated.summary.exitDate | dt"></span>
      </li>
    </ul>
  </div>
  <div class="stat">
    <span class="stat-title">初始資金</span>
    <span class="stat-value before:content-['$'] before:text-xs text-white"
      ng-bind="simulated.summary.initialMoney"></span>
  </div>
  <div class="stat">
    <span class="stat-title">最終資金</span>
    <span class="stat-value before:content-['$'] before:text-xs text-white"
      ng-bind="simulated.summary.finalMoney.scale()"></span>
  </div>
  <div class="stat">
    <span class="stat-title">總損益</span>
    <span class="stat-value before:content-['$'] before:text-xs text-white"
      ng-bind="simulated.summary.totalProfit.scale()"></span>
  </div>
  <div class="stat">
    <span class="stat-title">總損益率</span>
    <span class="stat-value after:content-['%'] after:text-xs text-white"
      ng-bind="(simulated.summary.totalProfit) / simulated.summary.initialMoney | pct"></span>
  </div>
  <div class="stat">
    <span class="stat-title">模擬股數</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.stockCount"></span>
  </div>
  <div class="stat">
    <span class="stat-title">交易次數</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.totalTrades"></span>
  </div>
  <div class="stat">
    <span class="stat-title">盈虧比</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.pnl"></span>
  </div>
  <div class="stat">
    <span class="stat-title">期望值</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.expectation"></span>
  </div>
  <div class="stat">
    <span class="stat-title">勝率</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.winRate | pct"></span>
  </div>
  <div class="stat">
    <span class="stat-title">二日有效率</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.breakoutRate | pct"></span>
  </div>
  <div class="stat" ng-if="simulated.summary.reentry">
    <span class="stat-title">返場</span>
    <span class="stat-value text-white" ng-bind="simulated.summary.reentry"></span> 次
    成功 <span class="stat-value text-white" ng-bind="simulated.summary.reentryWins"></span> 次
    勝率 <span class="stat-value text-white" ng-bind="simulated.summary.reentryWinRate | pct"></span></span>
    損益 <span class="stat-value text-white" ng-bind="simulated.summary.reentryProfit"></span>
    占比 <span class="stat-value text-white" ng-bind="(simulated.summary.reentryProfit / simulated.summary.profit) | pct"></span></span>
  </div>
</div>
<div class="w-[85%] mx-auto max-w-6xl bg-base-100">
  <div class="pl-5 pr-5 grid grid-cols-[200px_auto_250px] hover:bg-base-200" ng-if="simulating">
    正在模擬試算中...
  </div>
  <div class="pl-5 pr-5 grid grid-cols-[200px_auto_250px] hover:bg-base-200" ng-repeat="event in simulated.events"
    ng-Class="'item_' + event.code">
    <div class="stat grid-rows-[20px_40px_auto]" style="cursor: pointer;" ng-click="open(event)">
      <span ng-bind="event.code" class="stat-title"></span>
      <span ng-bind="event.name" class="stat-value"></span>
      <span ng-bind="event.ma" class="stat-desc before:content-['MA']"></span>
    </div>
    <ul class="timeline timeline-vertical" ng-class="{'italic': !event.duration && !event.invest}">
      <li>
        <div class="timeline-start text-base-content/50" ng-bind="event.entryDate | dt"></div>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
          </svg>
        </div>
        <div class="timeline-end flex">
          <div class="timeline-box mr-1.5 h-fit flex flex-col text-right whitespace-nowrap">
            <span class="font-price text-xl" ng-bind="event.entryPrice.scale(2)"></span>
            <span class="text-sm after:content-['股'] after:text-xs" ng-bind="event.amount"></span>
          </div>
          <span>
            <span class="badge badge-secondary" ng-if="event.breakout">二日法則</span>
            <span class="badge badge-secondary" ng-if="event.reentry">重新入場</span>
            <span class="text-sm/6 text-success" ng-bind="event.entryReason"></span>
          </span>
        </div>
        <hr class="pt-11" />
      </li>
      <li ng-if="event.exitPrice">
        <hr />
        <div class="timeline-start text-base-content/50" ng-bind="event.exitDate | dt"></div>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
          </svg>
        </div>
        <div class="timeline-end flex">
          <div class="timeline-box mr-1.5 h-fit flex flex-col text-right whitespace-nowrap">
            <span class="font-price text-xl" ng-bind="event.exitPrice.scale(2)"></span>
            <span class="text-sm after:content-['股'] after:text-xs" ng-bind="event.amount"></span>
            <span>
          </div>
          <span class="badge badge-primary" ng-if="event.exitReason.includes('過熱')">過熱</span>
          <span class="text-sm/6 text-success" ng-bind-html="event.exitReason"></span>
          </span>
        </div>
        <hr />
      </li>
      <li ng-if="event.duration">
        <hr class="pt-11" />
        <div class="after:content-['days'] after:text-xs badge badge-ghost timeline-start" ng-bind="event.duration">
        </div>
      </li>
    </ul>
    <div ng-if="!event.duration && !event.invest" class="border-l-2 border-primary border-dashed">
    </div>
    <div ng-if="event.duration" class="border-l-2 border-primary">
      <div class="flex mt-8 items-end">
        <div
          class="w-0 h-0  border-t-[15px] border-t-transparent border-b-[15px] border-b-transparent border-l-[10px] border-l-primary">
        </div>
        🧧 <span class="font-price text-4xl" ng-bind="event.profit"
          ng-class="{'text-rich-green': event.profit < 0, 'text-rich-red': event.profit > 0}"></span>
        <span class="font-pct" ng-bind="event.profitRate | pct"></span>
      </div>
    </div>
    <div ng-if="event.invest" class="border-l-2 border-primary">
      <div ng-if="event.invest.profit != 0" class="flex mt-8 items-end">
        <div
          class="w-0 h-0  border-t-[15px] border-t-transparent border-b-[15px] border-b-transparent border-l-[10px] border-l-primary">
        </div>
        🤑 <span class="font-price text-4xl" ng-bind="event.invest.profit"
          ng-class="{'text-rich-green': event.invest.profit < 0, 'text-rich-red': event.invest.profit > 0}"></span>
        <span ng-if="event.invest.profit != 0" class="font-pct" ng-bind="event.invest.profitRate | pct"></span>
      </div>
    </div>
  </div>
</div>